<mat-card class="form-card">
  <mat-card-title class="card-title">Client Form</mat-card-title>
  <mat-card-content>
    <form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
       <!-- Row 0 -->
       <div class="row">
        <mat-form-field appearance="outline" class="custom-input">
          <mat-label>Nom</mat-label>
          <input matInput type="text" placeholder="Nom" formControlName="nom">
        </mat-form-field>
        <mat-form-field appearance="outline" class="custom-input small-input">
          <mat-label>Prenom</mat-label>
          <input matInput type="text" placeholder="Prenom" formControlName="prenom">
        </mat-form-field>
        <mat-form-field appearance="outline" class="custom-input small-input">
          <mat-label>CIN</mat-label>
          <input matInput type="text" placeholder="Ex. AA485..." formControlName="cin">
        </mat-form-field>
        <mat-form-field appearance="outline" class="custom-input small-input">
          <mat-label>Genre</mat-label>
          <mat-select formControlName="genre">
            <mat-option *ngFor="let Genre of Genres" [value]="Genre">{{ Genre }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <!-- Row 1 -->
      <div class="row">
        <mat-form-field appearance="outline" class="custom-input small-input">
          <mat-label>Année</mat-label>
          <input matInput type="number" placeholder="Ex. 2024" formControlName="year">
        </mat-form-field>
        <mat-form-field appearance="outline" class="custom-input small-input">
          <mat-label>N° Dossier</mat-label>
          <input matInput type="text" placeholder="Ex. 12345" formControlName="dossierNumber">
        </mat-form-field>
        <mat-form-field appearance="outline" class="custom-input small-input">
          <mat-label>Description Dossier</mat-label>
          <input matInput type="text" placeholder="Ex. Case Description" formControlName="dossierDescription">
        </mat-form-field>
        <mat-form-field appearance="outline" class="custom-input small-input">
          <mat-label>Code N° dossier</mat-label>
          <input matInput type="text" placeholder="Ex. A456B" formControlName="codeDossier">
        </mat-form-field>
      </div>

      <!-- Row 2 -->
      <div class="row">
        <mat-form-field appearance="outline" class="custom-input small-input">
          <mat-label>Date Enregistrement</mat-label>
          <input matInput [matDatepicker]="regPicker" formControlName="dateEnregistrement">
          <mat-datepicker-toggle matSuffix [for]="regPicker"></mat-datepicker-toggle>
          <mat-datepicker #regPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" class="custom-input small-input">
          <mat-label>Date Encaissement</mat-label>
          <input matInput [matDatepicker]="encPicker" formControlName="dateEncaissement">
          <mat-datepicker-toggle matSuffix [for]="encPicker"></mat-datepicker-toggle>
          <mat-datepicker #encPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" class="custom-input small-input">
          <mat-label>Réference Paiement</mat-label>
          <input matInput type="text" placeholder="Ex. 987654" formControlName="referencePaiement">
        </mat-form-field>
        <mat-form-field appearance="outline" class="custom-input small-input">
          <mat-label>Description Affaire</mat-label>
          <input matInput type="text" placeholder="Ex. Legal Case" formControlName="descriptionAffaire">
        </mat-form-field>
      </div>

      <!-- Row 3 -->
      <div class="row">
        <mat-form-field appearance="outline" class="custom-input small-input">
          <mat-label>Nature Affaire</mat-label>
          <mat-select formControlName="natureAffaire">
            <mat-option *ngFor="let option of natureOptions" [value]="option">{{ option }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="custom-input small-input">
          <mat-label>Nom Tribunal</mat-label>
          <input matInput type="text" placeholder="Ex. Tribunal Name" formControlName="nomTribunal">
        </mat-form-field>
        <mat-form-field appearance="outline" class="custom-input small-input">
          <mat-label>Tribunal</mat-label>
          <input matInput type="text" placeholder="Ex. Court of Justice" formControlName="tribunal">
        </mat-form-field>
      </div>

      <!-- Action Buttons -->
      <div class="action">
        <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
        <button mat-raised-button color="primary" type="submit">Save</button>
      </div>
    </form>

    <!-- Client Information Table -->
    <mat-card class="info-card">
      <mat-card-content>
        <table mat-table [dataSource]="clientData" class="mat-elevation-z8">
    
          <!-- Column Definitions -->
          <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td mat-cell *matCellDef="let client"> {{ client.nom }} </td>
          </ng-container>
    
          <ng-container matColumnDef="prenom">
            <th mat-header-cell *matHeaderCellDef> Prenom </th>
            <td mat-cell *matCellDef="let client"> {{ client.prenom }} </td>
          </ng-container>
    
          <ng-container matColumnDef="cin">
            <th mat-header-cell *matHeaderCellDef> CIN </th>
            <td mat-cell *matCellDef="let client"> {{ client.cin }} </td>
          </ng-container>
    
          <ng-container matColumnDef="genre">
            <th mat-header-cell *matHeaderCellDef> Genre </th>
            <td mat-cell *matCellDef="let client"> {{ client.genre }} </td>
          </ng-container>
    
          <ng-container matColumnDef="dossierNumber">
            <th mat-header-cell *matHeaderCellDef> N° Dossier </th>
            <td mat-cell *matCellDef="let client"> {{ client.dossierNumber }} </td>
          </ng-container>
    
          <ng-container matColumnDef="dateEnregistrement">
            <th mat-header-cell *matHeaderCellDef> Date Enregistrement </th>
            <td mat-cell *matCellDef="let client"> {{ client.dateEnregistrement | date:'shortDate' }} </td>
          </ng-container>
    
          <!-- Column for Action Buttons -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let client">
              <!-- Edit Button -->
              <button mat-icon-button color="primary" (click)="onEdit(client)">
                <mat-icon>edit</mat-icon>
              </button>
              <!-- Info Button -->
              <button mat-icon-button color="accent" (click)="onInfo(client)">
                <mat-icon>info_outline</mat-icon>
              </button>
              <!-- Delete Button -->
              <button mat-icon-button color="warn" (click)="onDelete(client)" >
                <mat-icon>delete_forever</mat-icon>
              </button>
            </td>
          </ng-container>
    
          <!-- Table Header and Row Definitions -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card-content>
    </mat-card>
    

  </mat-card-content>
</mat-card>
